h1{
    color:brown;
    font-weight:normal;
    letter-spacing 4px;
    margin-bottom:1px;
    text-transform:uppercase;
}
#h3tag{
    color:green;
}
.normal{
    color:chocolate;
    font-style:italic;
}
ol,tr{
    color:darkblue;
}
.special{
    color:red;
    font-style:italic;
}
table{
    border-color:brown;
    border-style:double;
}

